
body{


  background:
  linear-gradient(
  rgba( 0, 0, 0, 0),
  rgba( 0, 0, 0)
  ),
  url('img1.jpg');
  
 
    background-size: cover;

    background-attachment: fixed;

}







ul { font-size:20px; margin-left:-10px; margin-right:-10px; margin: -1%; overflow: hidden; background-color:black; text-decoration: none;  list-style-type: none; }
   
 li {  float:left;}  
 li a {display: block;padding:28px;text-decoration:none; color:white;  text-decoration: none; }
  li a:hover{ display:block; background:seagreen;}
  li:nth-child(n){
  margin-left:40px;}
 
